.posts{
    width: 450px;
    min-height: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 12px;
    font-weight:bold;
    padding-top: 10px;
}
.block{
background-color: white;
    width: 49%;
    height: 80px;

}
.but{
  height: 80px;
}